<mat-tab-group>
  <mat-tab label="First"> {{ literal }} </mat-tab>
  <mat-tab label="Second">



    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Propiedad </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{element.value}}
          Button with a badge on the left
          <button mat-raised-button matTooltip="Ver comentarios" color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent"
            class="ml-2" (click)="showAlertComments()">
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Añadir" aria-label="Example icon button with a home icon" (click)="showAlertInsert()"
            class="ml-1">
            <mat-icon>add</mat-icon>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>




  </mat-tab>
  <mat-tab label="Third">


    <div class="container">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Propiedades</mat-card-title>
        </mat-card-header>

        <mat-card-content>

          <p *ngFor="let item of esquema['properties'] | keyvalue">{{ item.key }} {{ item.value | json }}</p>

        </mat-card-content>
        <mat-card-actions>

          <button mat-raised-button matTooltip="Ver comentarios" color="primary" matBadge="8" matBadgePosition="before" matBadgeColor="accent"
            class="ml-2" (click)="showAlertComments()">
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Añadir" aria-label="Icon add" (click)="showAlertInsert()"
            class="ml-1">
            <mat-icon>add</mat-icon>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>


  </mat-tab>
</mat-tab-group>