<mat-tab-group>
  <mat-tab label="Literal">
    <div class="my-container">
      <div class="content">
        <h4>{{ literal }}</h4>
        <button mat-icon-button matTooltip="Ver comentarios" matBadge="8" matBadgeColor="accent" class="ml-2"
          (click)="showAlertComments()">
          <mat-icon>comment</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Añadir" aria-label="Example icon button with a home icon"
          (click)="showAlertInsert()" class="ml-1">
          <mat-icon>add</mat-icon>
        </button>
      </div>

    </div>

  </mat-tab>

  <mat-tab label="Contenido">


    <div class="container w-75 m-auto">
      <div class="row mt-4">
        <div *ngFor="let item of migasDePan;let i=index;"><span *ngIf="i > 0">></span><button mat-button>{{item}}</button></div>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{literal}}</mat-card-title>
          </mat-card-header>

          <mat-card-content>

            <div *ngIf="esquema">
              <div *ngFor="let item of esquema | keyvalue">

                <p *ngIf="item.key != 'properties'">
  
                  <b>{{ item.key }}</b>: {{ item.value  }}
                  <button mat-icon-button matTooltip="Ver comentarios" class="ml-2"
                    (click)="showAlertComments()"> <!--matBadge="8" matBadgeColor="accent"-->
                    <mat-icon>comment</mat-icon>
                  </button>
                  <button mat-icon-button matTooltip="Añadir" aria-label="Example icon button with a home icon"
                    (click)="showAlertInsert()" class="ml-1">
                    <mat-icon>add</mat-icon>
                  </button>
                </p>
  
              </div>
            </div>
            

          </mat-card-content>
          <mat-card-actions>
            <!-- botones -->
          </mat-card-actions>
        </mat-card>

      </div>

      <div class="row">
        <button mat-raised-button color="accent" (click)="backPath(esquema['path'])">Volver</button>
      </div>

      <div class="row mt-4 mb-5" *ngIf="esquema['properties']">

        <mat-list>
          <div mat-subheader>Propiedades</div>
          <mat-list-item *ngFor="let obj of esquema['properties'] | keyvalue">
            <mat-icon mat-list-icon>folder</mat-icon>
            <div mat-line>{{obj.value['$ref']}} {{literales[obj.key]}} <button mat-raised-button color="primary"
                (click)="nextPath(esquema['path'], obj.value['$ref'])">{{obj.value['$ref']}}</button></div>
          </mat-list-item>
        </mat-list>

       
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
          <ng-container matColumnDef="header-row-title">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="columnsToDisplay.length"> Propiedades </th>
          </ng-container>

          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
          </ng-container>

          <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description">
                  <div *ngIf="element.detail['properties']; else elseBlock">
                    <div *ngFor="let obj of element.detail['properties'] | keyvalue">
                      <button mat-raised-button color="primary">{{ obj.value['$ref'] }}</button>
                      <!--(click)="updateTable(obj.value['$ref'])"-->
                    </div>
                  </div>
                  <ng-template #elseBlock>
                    <span *ngFor="let obj of element.detail | keyvalue">
                      <b>{{obj.key}}</b>: {{obj.value}}
                      <button mat-icon-button matTooltip="Ver comentarios" matBadge="8" matBadgeColor="accent"
                        class="ml-2" (click)="showAlertComments()">
                        <mat-icon>comment</mat-icon>
                      </button>
                      <button mat-icon-button matTooltip="Añadir" aria-label="Example icon button with a home icon"
                        (click)="showAlertInsert()" class="ml-1">
                        <mat-icon>add</mat-icon>
                      </button></span>
                    <!--<p *ngFor="let obj of element.detail | keyvalue">{{obj.key}}: {{obj.value}}</p>-->

                  </ng-template>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="['header-row-title']"></tr>
          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
            [class.example-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>

      </div>
    </div>



  </mat-tab>
</mat-tab-group>