:root {
    --tracasa-primary-color: #3F51B5;
    --tracasa-primary-color-light: #a6add6;
    --tracasa-foreground-color: #FAFAFA;
}

.mat-dialog-container {
    padding-top: 0 !important;
}

.mat-dialog-title {
    background-color: var(--tracasa-primary-color);
    margin-left: -24px !important;
    margin-right: -24px !important;
    padding: 14px;
    color: white;
}

.cursor-pointer {cursor: pointer;}
.cursor-default {cursor: default;}


.mat-tooltip {
    font-size: 12px !important;
}