
      
        <div *ngFor="let item of menu.MenuItems | keyvalue">
          <div *ngIf="item.value.MenuItems; else elseBlock">
            <button mat-menu-item [matMenuTriggerFor]="menu.childMenu">
                {{ item.value.Link}} - 
          {{ literales[item.value.Link] | slice:0:20 }}
          
              <mat-icon>expand_more</mat-icon>
            </button>
            <app-menu-item #menu [items]="item.value.MenuItems"></app-menu-item>
          </div>
        
        <ng-template #elseBlock>
          <button mat-menu-item [routerLink]="['/content', item.value.Link]">
            {{ item.value.Link}} - 
            {{ literales[item.value.Link] | slice:0:20 }}
          </button>
        </ng-template>
      </div>


      