<!--TABLE TO LOAD MAT TABLE STYLES-->
<mat-table style="display: none">
  <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
</mat-table>
<!--END LOAD TABLE-->

<div class="ml-5 mr-5 mt-4 mb-4">

  <form>
    <mat-form-field class="example-form-field">
      <input matInput type="text" placeholder="Buscar por modelo" name="textSearch" [formControl]="searchControl"
        [matAutocomplete]="auto">

      <button *ngIf="searchControl.value != ''" matSuffix mat-icon-button aria-label="Clear"
        (click)="searchControl.setValue('')">
        <mat-icon>clear</mat-icon>
      </button>

      <mat-autocomplete #auto="matAutocomplete">
        <cdk-virtual-scroll-viewport class="example-viewport" [ngStyle]="{'height': height}" itemSize="25">
          <mat-option *cdkVirtualFor="let option of filteredOptions" [value]="option" class="example-item">
            {{option}}
          </mat-option>
        </cdk-virtual-scroll-viewport>
      </mat-autocomplete>
    </mat-form-field>
  </form>



  <mat-card *ngFor="let modelo of filteredModelosDF" class="mat-elevation-z4 mb-3 cursor-default">
    <mat-card-header>
      <mat-card-title>
        Modelo: {{modelo.modelo}}
        <button mat-icon-button color="primary" aria-label="Comments" matTooltip="Ver comentarios" matBadge="{{modelo.cntComentarios}}" [matBadgeHidden]="modelo.cntComentarios == 0">
          <mat-icon (click)="openCommentsByPath(modelo.modelo)">comment</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex="50%">
          <mat-card class="mat-elevation-z8">
            <p><b>Indice:</b> {{modelo.indice}}</p>
            <p><b>Descripción:</b>&nbsp;<span *ngIf="user?.rol == 'Desarrollador'">{{modelo.descripcion}} -
              </span>{{literaleses[modelo.descripcion]}} - {{literaleseu[modelo.descripcion]}}</p>
            <p><b>Etiqueta registro:</b>&nbsp;<span *ngIf="user?.rol == 'Desarrollador'">{{modelo.etiquetaRegistro}} -
              </span>{{literaleses[modelo.etiquetaRegistro]}} - {{literaleseu[modelo.etiquetaRegistro]}}</p>
            <p>
              <span matTooltip="Indica si el modelo no se ha incluido en el programa">
                <mat-checkbox class="cursor-default" [checked]="modelo.excluir" (click)="$event.preventDefault()" labelPosition="before">
                  <b>Excluir: </b></mat-checkbox>
              </span>
            </p>
            <div class="foo row-dni"></div>
            <p class="pt-1">Columna DNI</p>
            <div class="foo row-columna-excluida"></div>
            <p class="pt-1">Columnas excluidas</p>
            <p *ngFor="let origenDF of modelo.origenesDF | keyvalue">{{origenDF.key}}: {{ origenDF.value | json }} <button mat-icon-button color="primary" aria-label="Comments" matTooltip="Ver comentarios"><mat-icon (click)="openCommentsByPath(origenDF.key)">comment</mat-icon></button></p>
          </mat-card>


        </div>
        <div fxFlex="50%">
          <table class="mat-table mat-elevation-z8 w-100 cursor-default">
            <thead>
              <tr class="mat-header-row">
                <th *ngIf="user?.rol == 'Desarrollador'" class="mat-header-cell">Columna</th>
                <th class="mat-header-cell">LiteralEs</th>
                <th class="mat-header-cell">LiteralEu</th>
                <th class="mat-header-cell">Tipo columna</th>
              </tr>
            </thead>
            <tbody>
              <tr class="mat-row" *ngFor="let columna of modelo.columnas; index as i"
                [ngClass]="{'row-dni': columna === modelo.columnaDNI, 'row-columna-excluida': modelo.columnasExcluidas.indexOf(columna) !== -1}">
                <td *ngIf="user?.rol == 'Desarrollador'" class="mat-cell">{{columna}}</td>
                <td class="mat-cell">{{literaleses[columna]}}</td>
                <td class="mat-cell">{{literaleseu[columna]}}</td>
                <td class="mat-cell">{{modelo.tiposColumnas[i]}}</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>