.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.mat-tree-node-hover:hover {
  background-color: whitesmoke !important;
}

.example-tree {
  background-color: var(--tracasa-foreground-color);
}

.table-button {
  background-color: rgb(232, 232, 252);
  width: 100%;
  font-size: 12px;
  font-weight:800;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {cursor: default;}

.table-text {
  font-size: 12px;
}

.row-number {
  background-color: aliceblue;
}

.table-header {
    background-color: #95A5A6;
    text-transform: uppercase;
}
