<!--TABLE TO LOAD MAT TABLE STYLES-->
<mat-table style="display: none">
  <mat-header-row *matHeaderRowDef="[]"></mat-header-row>
</mat-table>
<!--END LOAD TABLE-->

<span *ngFor="let breadcrumb of breadcrumbs; let i = index">
  <span *ngIf="i > 0">></span>
  <button mat-button color="primary" [routerLink]="['/content', breadcrumb]">
    <span *ngIf="user?.rol == 'Desarrollador'">{{breadcrumb}} </span>
    <span>{{ literaleses[breadcrumb] ? literaleses[breadcrumb] : literaleses[breadcrumb.toLowerCase()] }}</span>
  </button>
</span>

<div class="m-5">
  <h4>{{ literal }}<span matBadge="{{cntComentariosSubpath}}" matBadgeColor="accent"
      [matBadgeHidden]="cntComentariosSubpath == 0" class="ml-1"></span></h4>
  <h4>{{ literaleu }}</h4>
  <span class="highlighted" *ngIf="isArrayType" color="primary">Type: array, minItems: {{esquema['minItems']}},
    maxItems: {{esquema['maxItems']}}</span>
  <button mat-icon-button color="primary" aria-label="Comments" matBadge="{{cntComentarios}}" matBadgeColor="primary"
    matTooltip="Ver comentarios" [matBadgeHidden]="cntComentarios == 0" (click)="openDialogCommentsByPath(path)">
    <mat-icon> comment</mat-icon>
  </button>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      <li class="mat-tree-node" class="table-responsive cursor-default p-3">
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        <!-- Añadir tabla -->
        <table class="mat-table mat-elevation-z8 table-bordered">
          <thead>
            <tr class="mat-header-row">
              <th class="mat-header-cell">Código-Literal</th>
              <th class="mat-header-cell" *ngFor="let column of TABLE_COLS">{{column}}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="mat-row" *ngFor="let row of node.tableItems" [ngClass]="{'highlight-row': cellNameToScroll && cellNameToScroll == row.name}">
              <td class="mat-cell mat-cell-button">
                <button mat-raised-button matBadge="{{row.cntComentariosSubpath}}" matBadgeColor="accent"
                  matTooltip="Ver comentarios" (click)="openDialogComments(row)" class="table-button"
                  [matBadgeHidden]="row.cntComentariosSubpath == 0">

                  <span *ngIf="cellNameToScroll && cellNameToScroll == row.name" #scrollTarget></span>
                  <mat-icon *ngIf="row.hasUnreadLogs" class="black-icon">notification_important</mat-icon>
                  <span *ngIf="user?.rol == 'Desarrollador'">{{row.name}}<br></span>
                  <span *ngIf="row.literal?.length > literalMaxLength" matTooltip="{{row.literal}}">
                    {{row.literal | slice:0:literalMaxLength}}...
                  </span>
                  <span *ngIf="row.literal?.length <= literalMaxLength">
                    {{row.literal}}
                  </span>
                  <br>
                  <span *ngIf="row.literaleu?.length > literalMaxLength" matTooltip="{{row.literaleu}}">
                    {{row.literaleu | slice:0:literalMaxLength}}...
                  </span>
                  <span *ngIf="row.literaleu?.length <= literalMaxLength">
                    {{row.literaleu}}
                  </span>
                </button>
              </td>
              <td class="mat-cell" *ngFor="let column of TABLE_COLS">
                <span *ngIf="column == 'enum' && row.esquema[column]">
                  <span (click)="openDialogEnumList(row.name,row.esquema[column])">
                    {{ row.esquema[column] | limitArray:25 }}
                  </span>
                </span>
                <span *ngIf="column != 'enum'">{{ row.esquema[column] }}</span>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- FIN TABLA -->
      </li>
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
      <li matTreeNodeToggle class="cursor-pointer">
        <div class="mat-tree-node mat-tree-node-hover">
          <button mat-icon-button [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          <mat-icon *ngIf="node.hasUnreadLogs" >notification_important</mat-icon>
          <span matBadge="{{node.cntComentariosSubpath}}" matBadgeOverlap="false" matBadgeColor="accent"
            [matBadgeHidden]="node.cntComentariosSubpath == 0">
            <span *ngIf="user?.rol == 'Desarrollador'">{{node.name}} - </span>
            <span *ngIf="node.literal">{{node.literal}}</span>
            <span *ngIf="node.literaleu"> - {{node.literaleu}} </span>

            <span *ngIf="node.esquema['type'] == 'array'" class="highlighted">
              Type: array, minItems: {{node.esquema['minItems']}}, maxItems: {{node.esquema['maxItems']}}
            </span>
          </span>
          <button mat-icon-button color="primary" aria-label="Comments" matBadge="{{node.cntComentariosActivos}}"
            matBadgeColor="primary" matTooltip="Ver comentarios" [matBadgeHidden]="node.cntComentariosActivos == 0"
            (click)="openDialogComments(node)" class="ml-3" (click)="$event.stopPropagation()">
            <mat-icon> comment</mat-icon>
          </button>
        </div>
        <ul [class.example-tree-invisible]="!treeControl.isExpanded(node)">
          <ng-container matTreeNodeOutlet></ng-container>
        </ul>
      </li>
    </mat-nested-tree-node>
  </mat-tree>
</div>