<button mat-icon-button mat-dialog-close class="dialog-close">
    <mat-icon>close</mat-icon>
</button>

<h2 mat-dialog-title class="mt-2" cdkFocusRegionstart>Comentarios</h2>

<mat-spinner *ngIf="spinnerService.visibility| async"></mat-spinner>
<mat-dialog-content>

    <mat-accordion class="m-5" [@.disabled]="disableAnimation">
        <mat-expansion-panel hideToggle expanded>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Ver comentarios
                </mat-panel-title>
                <mat-panel-description>
                    Clique para mostrar todos los comentarios
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- CONTENT -->
            <div class="container">
                <table class="w-100">
                    <tr class="row" *ngFor="let comment of data.commentList; let i = index">
                        <td class="w-100">
                            <form *ngIf="indexComment == i" [formGroup]="formEdit" (ngSubmit)="editComment()">
                                <table class="w-100">
                                    <tr>
                                        <td class="w-100">
                                            <mat-form-field class="w-100">
                                                <mat-label>Editar comentario...</mat-label>
                                                <textarea matInput formControlName="comment"></textarea>
                                            </mat-form-field>
                                        </td>
                                        <td>
                                            <button mat-icon-button type="submit" matTooltip="Guardar">
                                                <mat-icon class="color-green">check</mat-icon>
                                            </button>
                                        </td>
                                        <td>
                                            <button mat-icon-button
                                                (click)="[canEditComment=false, indexComment=undefined]"
                                                matTooltip="Cancelar">
                                                <mat-icon color="warn">close</mat-icon>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </form>
                            <table *ngIf="indexComment != i">
                                <tr>
                                    <td>
                                        <span [className]="!comment.isActive ? 'strikethrough' : ''">{{i+1}}.-
                                            {{comment['text']}}</span>
                                    </td>
                                    <td>
                                        <button *ngIf="comment.isActive" mat-icon-button color="primary"
                                            aria-label="Edit" (click)=allowEditComment(i) matTooltip="Editar comentario"
                                            [disabled]="indexComment != undefined && indexComment != i">
                                            <mat-icon>edit</mat-icon>
                                        </button>
                                        <button *ngIf="!comment.isActive" mat-icon-button
                                            matTooltipClass="tooltip-green" aria-label="Activate"
                                            (click)="activateComment(i)" matTooltip="Activar comentario"
                                            [disabled]="indexComment != undefined && indexComment != i"
                                            class="color-green">
                                            <mat-icon>restore_from_trash</mat-icon>
                                        </button>
                                    </td>
                                    <td>
                                        <button *ngIf="comment.isActive" mat-icon-button matTooltipClass="tooltip-red"
                                            color="warn" aria-label="Delete" (click)="deleteComment(i)"
                                            matTooltip="Borrar comentario"
                                            [disabled]="indexComment != undefined && indexComment != i">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END CONTENT -->
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Añadir comentario
                </mat-panel-title>
                <mat-panel-description>
                    Clique para añadir un comentario
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- CONTENT -->
            <form class="example-form" [formGroup]="formAdd" (ngSubmit)="addComment()">
                <mat-form-field class="example-full-width">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput placeholder="Mensaje..." formControlName="comment"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" matTooltip="Añadir comentario">Añadir</button>
            </form>

            <!-- END CONTENT -->
        </mat-expansion-panel>
    </mat-accordion>
</mat-dialog-content>