.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-list-item:hover {
    background-color: whitesmoke;
  }

  ::ng-deep .tooltip-red {
    background: #b71c1c;
  }
  ::ng-deep .tooltip-green {
    background: green;
  }

  .strikethrough {
    text-decoration: line-through;
  }

  .color-green {
    color: green;
  }

  .close-dialog-button {
    float: right;
  }