<h2 mat-dialog-title>Comentarios</h2>
<mat-dialog-content>

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header (click)="canEditComment=false">
                <mat-panel-title>
                    Ver comentarios
                </mat-panel-title>
                <mat-panel-description>
                    Clique para mostrar todos los comentarios
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- CONTENT -->

            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let comment of data.comments; let i = index">
                    {{i+1}}.- {{comment}}
                    <button mat-icon-button color="primary" aria-label="Edit" (click)=editComment(i)>
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" aria-label="Delete" (click)="deleteComment(i)">
                        <mat-icon>delete</mat-icon>
                    </button>

                    <!--<input *ngIf="canEditComment" [(ngModel)]="data.comments[i]" type="text" class="form-control" />-->
                </mat-list-item>
            </mat-list>
            <div *ngIf="canEditComment">
                <form class="example-form" [formGroup]="formEdit" (ngSubmit)="saveComment()">
                    <mat-form-field class="example-full-width">
                        <mat-label>Editar comentario</mat-label>
                        <textarea matInput placeholder="Mensaje..." formControlName="comment"></textarea>
                    </mat-form-field>
                    <button mat-raised-button color="primary" type="submit" >Editar</button>
                    <button mat-raised-button color="accent" (click)="canEditComment=false" class="ml-1">Cancelar</button>
                </form>
            </div>
            <!-- END CONTENT -->
        </mat-expansion-panel>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header (click)="indexComment=undefined">
                <mat-panel-title>
                    Añadir comentario
                </mat-panel-title>
                <mat-panel-description>
                    Clique para añadir un comentario
                </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- CONTENT -->

            <form class="example-form" [formGroup]="formAdd" (ngSubmit)="saveComment()">
                <mat-form-field class="example-full-width">
                    <mat-label>Comentario</mat-label>
                    <textarea matInput placeholder="Mensaje..." formControlName="comment"></textarea>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Añadir</button>
            </form>

            <!-- END CONTENT -->
        </mat-expansion-panel>
    </mat-accordion>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>