<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()" matTooltip="Menú">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button [routerLink]="['/home']" (click)="resetTitle()" matTooltip="Página inicio">
      <mat-icon>home</mat-icon>
    </button>
    <h1 class="example-app-name mr-2">{{title}}</h1>

    <form class="form-search ml-auto mr-2">
      <mat-form-field>
        <input matInput type="text" placeholder="Buscar por código" name="textSearch" [formControl]="searchControl"
          [matAutocomplete]="auto">
        <button mat-button mat-icon-button matSuffix aria-label="Search icon"
          [routerLink]="['/content', searchControl.value]" matTooltip="Buscar" (click)="$event.stopPropagation()">
          <mat-icon>search</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete">

          <cdk-virtual-scroll-viewport class="example-viewport" [ngStyle]="{'height': height}" itemSize="25">
            <mat-option *cdkVirtualFor="let option of filteredOptions" [value]="option" class="example-item">
              {{option}}
            </mat-option>
          </cdk-virtual-scroll-viewport>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <!--

    <form class="form-search ml-auto mr-2">
      <mat-form-field>
        <input matInput type="text" [(ngModel)]="value" placeholder="Buscar por código" name="textSearch"
          autocomplete="off">
        <button mat-button mat-icon-button matSuffix aria-label="Search icon" [routerLink]="['/content', value]"
          matTooltip="Buscar">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </form>-->

    <div *ngIf="user" matTooltip="Cambiar rol">
      <button mat-button [matMenuTriggerFor]="menu">{{user?.username}}({{user?.rol}})</button>
      <mat-menu #menu="matMenu">
        <span *ngFor="let rol of rolTypes">
          <button *ngIf="rol != user.rol" mat-menu-item (click)="changeRol(rol)">{{rol}}</button>
        </span>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">

      <!--<ng-material-multilevel-menu [configuration]='config' [items]='appitems'>
      </ng-material-multilevel-menu>-->
      <ng-material-multilevel-menu [items]='appitems' [configuration]='config'>
          <ng-template #listTemplate let-item="item" let-configuration="configuration">
              <div class="my-cool-menu-item" [dir]="configuration.rtlLayout  ? 'rtl' : 'ltr'">
                  <div class="title-and-image">
                      <div class="icon-container">
                          <span [ngClass]="getClass(item)"></span>
                          <mat-icon>{{item.icon}}</mat-icon>
                      </div>
                      <div class="label-container">
                          <span matTooltip="{{item.label}}" [matTooltipDisabled]="item.label.length <=30">{{item.label | limit:30}}</span>
                      </div>
                  </div>
                  <div class="icon-arrow-container" *ngIf='item.hasChilden'>
                      <mat-icon *ngIf="!configuration.rtlLayout" [@ExpandedLTR]="item.expanded ? 'yes' : 'no'">
                          keyboard_arrow_down
                      </mat-icon>
                      <mat-icon *ngIf="configuration.rtlLayout" [@ExpandedRTL]="item.expanded ? 'yes' : 'no'">
                          keyboard_arrow_down
                      </mat-icon>
                  </div>
              </div>
          </ng-template>
      </ng-material-multilevel-menu>

    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>